@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #118AB2,
  $secondary: #dd2b55,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);