---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import Button from '@smui/button';
import TiltCard from '../components/TiltCard.svelte';
import Map from '../components/Map.svelte';
import ContactForm from '../components/ContactForm.svelte';

// Assets
import heroImage from "../assets/images/colored-pencils.jpg";
import ownerImage from "../assets/images/owner-portrait.jpg";
import mapImg from "../assets/images/map.jpg";
import DailySchedule from '../components/DailySchedule.svelte';
---

<Layout>
	<main>
		<section id="landing" class="relative md:items-center items-start px-5">
			<Image src={heroImage} alt="" width={1920} height={1080} format="webp" class="absolute top-0 left-0 -z-10 w-screen h-screen object-cover brightness-75"></Image>
			<!-- <video autoplay muted loop playsinline src="/videos/daycare-video.mp4" class="absolute top-0 left-0 -z-10 w-full h-full object-cover brightness-75"></video> -->
			<h2 class="text-white font-light text-5xl">Fostering independence<br> and a love of learning.</h2>
			<Button href="#contact" variant="unelevated" color="primary" class="" client:load>Join the Waitlist</Button>
		</section>
		<section id="mission" class="relative flex justify-center items-center">
			<div class="w-[95vw] max-w-screen-xl py-[50px] sm:py-[100px]">
				<h2 class="text-6xl text-center font-light mb-14 text-white">Our Mission</h2>
				<div class="flex flex-col lg:flex-row justify-center items-center gap-10">
					<Image src={ownerImage} alt="owner portrait" width={500} height={500} class="rounded-md shadow-md"></Image>
					<div class="dark-glass p-8 sm:p-14 rounded-md shadow-md leading-8 text-white">
						<!-- <p>Montessori Kids Academy of Windermere is dedicated to providing a warm and nurturing environment where children can learn and grow. We believe in the Montessori philosophy of hands-on, individualized learning and strive to create a supportive and nurturing community for our families. We are committed to providing a high quality education that meets the individual needs of each child and prepares them for a lifetime of learning. We believe that all children are capable of reaching their full potential and our goal is to help them reach their highest potential. We are dedicated to providing a safe, clean, and welcoming environment for all children and families. We believe that every child is a unique individual and deserves to be respected and valued. We are committed to providing a Montessori education that is accessible to all families.</p> -->
						<p>Montessori Kids Academy of Windermere is a school that strives to provide a nurturing and stimulating environment where children can explore, learn, and grow. We believe in the Montessori philosophy of education, which emphasizes the development of the whole child – physically, emotionally, cognitively, and socially. Our highly trained staff provides individualized attention and guidance to each child in our care. We are committed to providing a safe, warm, and welcoming environment for all children and families.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="contact" class="relative sm:h-[700px]">
			<Image src={mapImg} alt="" width={1920} height={700} format="webp" class="sm:absolute top-0 left-0 w-full h-[400px] sm:h-full object-cover"></Image>
			<Map client:visible></Map>
			<div id="contact-form" class="md:absolute -top-5 right-10 w-screen md:w-[400px] p-10 bg-white md:shadow-2xl md:rounded-lg">
				<ContactForm client:visible></ContactForm>
			</div>
		</section>
		<section id="attendance">
		</section>
		<section id="daily-schedule" class="py-[50px]">
			<div class="flex justify-center">
				<div class="flex justify-between w-[95vw] max-w-screen-md">
					<div class="flex flex-col justify-center items-center w-full">
						<h2 class="text-center text-white mb-10">Daily Schedule</h2>
						<div class="w-full shadow-2xl overflow-scroll">
							<DailySchedule client:visible></DailySchedule>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="tuition">
			<ul>
				<li>Full time: $900/month</li>
				<li>Full time: $9000/year</li>
			</ul>
		</section>
		<section id="policies">

		</section>
	</main>
</Layout>

<style>
	section {
		scroll-margin-top: calc(var(--navbar-height) - var(--wave-height));
	}

	#landing {
		height: 650px;
		max-height: calc(100vh - var(--navbar-height) + var(--wave-height));
		/* max-height: 1000px; */
		display: flex;
		gap: 20px;
		flex-direction: column;
		justify-content: center;
		padding-bottom: var(--navbar-height);
	}

	#mission {
		background-image: url("/images/circle-scatter.svg");
		background-size: cover;
	}

	#contact {
		scroll-margin-top: calc(var(--navbar-height) - var(--wave-height) + 50px);
	}

	#why-choose-us {
		background-image: url("/images/layered-waves.svg");
		background-size: cover;
	}

	#daily-schedule {
		background-image: url("/images/blob-scene-animated.svg");
		background-size: cover;
	}

	.dark-glass {
		backdrop-filter: blur(10px);
		background-color: hsla(0, 0%, 0%, 0.4);
	}
</style>
