---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from '@astrojs/image/components';
import Button from '@smui/button';
import TiltCard from '../components/TiltCard.svelte';

---

<Layout>
	<main>
		<div class="aspect-video fixed top-0 left-0 right-0 -z-50 brightness-50">
			<video autoplay muted loop src="/videos/daycare-video.mp4" class="w-screen h-screen object-cover"></video>
		</div>
		<section id="landing-section" class="relative md:items-center items-start px-5">
			<h2 class="text-white font-thin text-5xl">More than just education</h2>
			<Button variant="unelevated" color="primary" class="text-lg font-light" client:load>Enroll Today</Button>
			<a href="#why-choose-us" class="absolute bottom-5 left-0 right-0 flex justify-center">
				<lord-icon
						src="https://cdn.lordicon.com/xhdhjyqy.json"
						trigger="hover"
						colors="primary:#ffffff"
						style="width:50px;height:50px;opacity:80%;">
				</lord-icon>
			</a>
		</section>
		<section id="why-choose-us" class="bg-white p-[50px]">
			<div class="flex justify-center">
				<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 justify-items-center max-w-screen-xl">
					<TiltCard title="How to enroll" description="Choose convenient child care near you—full-time or part-time!" imgSrc="/images/girl-pencil.jpg" width="400px" client:load></TiltCard>
					<TiltCard title="Health and safety" description="See how our proven health and safety measures will protect your child." imgSrc="/images/health-safety.jpg" width="400px" client:load></TiltCard>
					<TiltCard title="More than daycare" description="See how we'll build your whole family's Confidence for Life™." imgSrc="/images/baby-playing-with-toy.jpg" width="400px" client:load></TiltCard>
					<TiltCard title="Child development" description="Our annual assessment data proves that kids excel here!" imgSrc="/images/books.jpg" width="400px" client:load></TiltCard>
					<TiltCard title="Your baby’s classroom" description="Explore the ways our teachers help your child discover the world!" imgSrc="/images/baby-hold.jpg" width="400px" client:load></TiltCard>
					<TiltCard title="Six enrollment tips" description="Make a confident child care choice for your family." imgSrc="/images/bird-crayon.jpg" width="400px" client:load></TiltCard>
				</div>
			</div>
		</section>
		<section id="attendance"></section>
		<section id="mission"></section>
		<section id="daily-schedule"></section>
		<section id="tuition"></section>
		<section id="policies"></section>
	</main>
</Layout>

<style>
	#landing-section {
		height: 100vh;
		/* max-height: 1000px; */
		display: flex;
		gap: 20px;
		flex-direction: column;
		justify-content: center;
		padding-bottom: var(--navbar-height);
	}

	#why-choose-us {
		scroll-margin-top: calc(var(--navbar-height) - var(--wave-height));
	}
</style>
