---
  const currentYear = (new Date()).getFullYear();
---

<div class="bg-white p-6 flex justify-center">
  <div class="w-full max-w-screen-xl flex flex-col items-stretch">
    <hr class="w-full mb-4">
    <p class="text-slate-700 self-end">© {currentYear} Montessori Kids Academy of Windermere</p>
  </div>
</div>