---
import { Icon } from 'astro-icon';
import MobileMenuButton from './MobileMenuButton.svelte';
---

<header>
  <div id="navbar">
    <div class="flex justify-start items-center h-3/4 gap-3">
      <a href="/" id="navbar-logo">
        <Icon name="daycare-logo"></Icon>
      </a>
      <div class="nav-text leading-tight">Montessori Kids Academy<br>of Windermere</div>
    </div>
    <div class="hidden md:flex gap-10 color-text-alt text-xl">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Enroll</a>
    </div>
  </div>
  <Icon name="wave-divider"></Icon>
</header>
<MobileMenuButton client:only></MobileMenuButton>

<style lang="scss">
html {
  background-color: var(--color-primary);
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: calc(var(--navbar-height) - var(--wave-height));
  background-color: var(--color-primary);
}

.nav-text {
  color: var(--color-text-alt);
}

#navbar-logo {
  width: 70px; 
  [astro-icon="daycare-logo"] {
    height: 100%;
  }
}

[astro-icon="wave-divider"] {
  height: var(--wave-height);
  width: 100vw;
  fill: var(--color-primary);
}

</style>